<%= javascript_pack_tag 'menu_toogle' %>
<nav class="">
  <div class="container nav-container">
    <div class="image-leve">
      <%= link_to root_path do %>
        <%= image_tag 'https://levedelivery.com.br/wp-content/uploads/2018/12/logp.png'%>
      <% end%>
    </div>
    <div class="navitem-holder">
      <div class="navitem nounderline" >
        <%= link_to root_path do %>
          <%= fa_icon 'user-circle'%>
          <div class="navitem-txt">MINHA CONTA</div>
        <% end%>
      </div>
      <div class="navitem nounderline sml-none">
        <%= link_to root_path do %>
          <%= fa_icon 'question-circle'%>
          <div class="navitem-txt">DUVIDAS</div>
        <% end%>
      </div>
      <div class="navitem nounderline">
        <%= link_to root_path do %>
          <%= fa_icon 'whatsapp'%>
          <div class="navitem-txt">WHATSAPP</div>
        <% end%>
      </div>
      <div class="navitem nounderline">
        <%= link_to root_path do %>
          <%= fa_icon 'shopping-cart'%>
          <div class="navitem-txt">CARRINHO</div>
        <% end%>
      </div>
      <div class="menu-btn_burguer">
        <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navitem-txt">MENU</div>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar-expand-lg navbar-light bg-light">
  <div class="container nav-container">
    <div class="collapse navbar-collapse navmenu" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navmenu-ul no-padding">
        <li class="custom-nav-item-01">
          <a class="nav-menu" href="#"><strong>MONTAR MEU KIT</strong></a>
        </li>
        <li class="nav-item dropdown sml-none">
          <a class="nav-menu dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PRATOS
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <%= link_to 'Todos', products_path, class: "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= tag_menu_helper(false, "dropdown-item") %>
          </div>
        </li>
        <li class="nav-item" id="customDropdown">
          <a class="nav-menu dropdown-toggle" href="#">PRATOS</a>
        </li>
        <li class="nav-item-dropdown customDropdownMenu">
          <%= link_to 'Todos', products_path, class: "nav-menu"%>
        </li>
        <%= tag_menu_helper(true, "nav-menu") %>
        <li class="nav-item">
          <a class="nav-menu" href="#">ENTREGA</a>
        </li>
        <li class="nav-item">
          <a class="nav-menu" href="#">SOBRE NOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-menu" href="#">REVENDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-menu" href="#">CONTATO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
