<div class="about-container">
  <h1> Sobre nos</h1>
  <%= image_tag 'https://levedelivery.com.br/wp-content/uploads/2018/12/leaf.png'%>
  <p>Com início em 2014 a Leve Comida Natural propôs um novo formato de almoço para a região de Florianópolis. O conceito era fornecer alimentações prontas para o consumo de forma equilibrada e nutritiva. Os pedidos eram realizados exclusivamente on-line e já nascia com a regra de ser Sem glúten e Lactose.</p>
  <div>
    <%= image_tag 'https://levedelivery.com.br/wp-content/uploads/2019/02/sacola-trabalho.jpg'%>
  </div>
  <p>Cliente almoçando Leve</p>
  <p>Nosso cardápio era baseado em Saladas, Pratos funcionais e sobremesas.</p>
  <%= image_tag 'https://levedelivery.com.br/wp-content/uploads/2019/02/salada-leve.jpg'%>
  <p>salada salmao</p>
  <p>Nessa primeira etapa a sede da empresa era no bairro Pantanal com uma equipe enxuta e uma cozinha básica de 45m². Com o decorrer do tempo e crescimento do mercado de alimentação saudável analisamos que nosso público buscava mais que um almoço e sim uma solução para o dia-a-dia.</p>
  <%= image_tag 'https://levedelivery.com.br/wp-content/uploads/2019/02/leve-1.jpg'%>
  <p>Fachada Loja Pantana</p>
  <p>Em 2017 decidimos expandir as atividades e mudar de loja, agora para uma de 250m² e  lançando no mercado uma linha de pratos congelados funcionais.  Refeições com preços acessíveis, com opções para todos os gostos e sendo elaborados com supervisão de uma nutricionista. Nossa cozinha industrial atende todas as normativas da Anvisa e Vigilância Sanitária. Com um vidro que divide a loja com a cozinha permite a  total transparência sobre nosso método de trabalho e cuidado com cada prato produzido por nossos colaboradores.</p>
  <%= image_tag 'https://levedelivery.com.br/wp-content/uploads/2019/02/Czoinha-2017.jpg'%>
  <p>Início da nova cozinha industrial</p>
  <p>Hoje somos referência no mercado nacional de alimentação saudável.  Nosso maior diferencial é um cardápio flexível que muda há cada nova estação respeitando a sazonalidade dos alimentos e a opinião dos clientes.</p>
  <p>Comece hoje a sua mudança alimentar e conte com a gente!</p>
</div>
