<div class="delivery-container">
  <h1>Área de entrega</h1>
  <p>Entregamos na cidade de <strong>Florianópolis, São José, Biguaçú e Palhoça.</strong></p>
  <p>Esporadicamente entregamos tambem em <strong>Balneário Camboriu e Brusque.</strong></p>
  <iframe class="delivery-map" src="https://www.google.com/maps/d/embed?mid=1RmmmaOS5ExWzcErWa2Ju4ygGeEUKi2t7" width="640" height="480"></iframe>
  <div id="accordion" class="accordion-delivery">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed delivery-btn-clp" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"><%= fa_icon "plus"%></div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne"><%= fa_icon "minus"%></div>
            </div>
            <div class="delivery-region-title">Continente R$12 a R$15</div>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Abraão – R$12</li>
            <li>Biguaçu – R$15</li>
            <li>Bom Abrigo – R$12</li>
            <li>Campinas – R$12</li>
            <li>Coqueiros – R$12</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed delivery-btn-clp" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div>
              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"><%= fa_icon "plus"%></div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"><%= fa_icon "minus"%></div>
            </div>
            <div class="delivery-region-title">Centro e Bairros próximos R$9</div>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Abraão – R$12</li>
            <li>Biguaçu – R$15</li>
            <li>Bom Abrigo – R$12</li>
            <li>Campinas – R$12</li>
            <li>Coqueiros – R$12</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed delivery-btn-clp" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div>
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"><%= fa_icon "plus"%></div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree"><%= fa_icon "minus"%></div>
            </div>
            <div class="delivery-region-title">Norte da ilha R$12 a R$15</div>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Abraão – R$12</li>
            <li>Biguaçu – R$15</li>
            <li>Bom Abrigo – R$12</li>
            <li>Campinas – R$12</li>
            <li>Coqueiros – R$12</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingfour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed delivery-btn-clp" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
            <div>
              <div id="collapsefour" class="collapse show" aria-labelledby="headingfour"><%= fa_icon "plus"%></div>
              <div id="collapsefour" class="collapse" aria-labelledby="headingfour"><%= fa_icon "minus"%></div>
            </div>
            <div class="delivery-region-title">Leste da ilha R$12</div>
          </button>
        </h5>
      </div>
      <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Abraão – R$12</li>
            <li>Biguaçu – R$15</li>
            <li>Bom Abrigo – R$12</li>
            <li>Campinas – R$12</li>
            <li>Coqueiros – R$12</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingfive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed delivery-btn-clp" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
            <div>
              <div id="collapsefive" class="collapse show" aria-labelledby="headingfive"><%= fa_icon "plus"%></div>
              <div id="collapsefive" class="collapse" aria-labelledby="headingfive"><%= fa_icon "minus"%></div>
            </div>
            <div class="delivery-region-title">Sul da Ilha R$12 a R$15</div>
          </button>
        </h5>
      </div>
      <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Abraão – R$12</li>
            <li>Biguaçu – R$15</li>
            <li>Bom Abrigo – R$12</li>
            <li>Campinas – R$12</li>
            <li>Coqueiros – R$12</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
