<% cache product do%>
  <div class="card-product" id="<%=product.id%>">
    <% if product.image_url %>
      <%= image_tag(product.image_url, class: "card-img-top")%>
    <% else %>
      <img class="card-img-top" src=<%= bacon_mockup %> alt="Card image cap">
    <% end %>
    <div class="card-body" >
      <p class="card-tags">
        <%= content_helper(product.content)%>
      </p>
      <h5 class="card-title"><%= product.title %></h5>
      <div class="card-price">
        <div>
          $<%= product.price %>
        </div>
        <%= button_to '-', line_item_path(product), method: :delete, remote: true %>
        <%= button_to '+', line_items_path(product_id: product), remote: true %>
      </div>
    </div>
  </div>
<% end %>
